.main-chat
  .header
    .header__group
      .header__group--name グループ名
      .header__group--member メンバー
    = link_to '#', class: 'header__btn' do
      .header__btn--edit Edit

  .chat-space
    .chat-space__message
      .chat-space__message--name グループ名
      .chat-space__message--date-time 例2019/07/06 18:00
      .chat-space__message--comment コメント
  .form
    = form_tag do
      .input-box
        %input{type: 'text', value: 'type a message', class: 'input-box__input'}
          %label{for: 'file', class: 'input-box__label'}
            %input{type: 'file', id: 'file', class: 'input-box__label__file'}
              = fa_icon 'image', class: 'input-box__label--image'

    
        %input{type: 'submit', value: 'Send', class: 'input-box__submit-btn'}