.main-chat {
  width: calc(100vw - 300px);
  height: 100vh;
  float: left;
  
  .header {
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    padding-left: 40px;
    position: relative;
    justify-content: space-between;
    
    &__group {
      padding-top: 35px;  

      &--name {
        font-size: 20px;
        padding-bottom: 15px;
        color: #333333;
      }

      &--member {
        font-size: 12px;
        color: #999999; 
      }

      &--list {
        font-size: 12px;
        color: #999999; 
        position: absolute;
        top: 80px;
        left: 100px;
      }
    }

    &__btn {
      color: skyblue;
      text-decoration: none;
      position: absolute;
      right: 40px;
      top: 30px;
      border: 1px solid #38aef0;

      &--edit {
        padding: 10px 20px;
      }
    }
  }

  .chat-space {
    height: calc(100vh - 190px);
    overflow: scroll;

    .message {
      padding-top: 46px;
      padding-left: 40px;
    
      &__name {
        font-size: 16px;
        font-weight: bold;
        color: #434A54;
        float: left;
        padding-right: 10px;
      }

      &__date-time {
        font-size: 12px;
        color: #999999;
      }

      &__comment {
        font-size: 14px;
        color: #434A54;
        padding-top: 10px;
      }
    }
  }

  .form {
    height: 90px;
    background-color: #ddd;
    padding: 0px 40px;
      
    .new_message {
      padding: 20px 0px;
      display: flex;
      position: relative;
      
      .field_with_errors {
        height: 50px;
        width: 100%;
        padding-right: 15px;
        color: #434A54;
      }

      .input-area {
        height: 50px;
        width: 100%;
        color: #434A54;
        padding-left: 10px;
      }
        .label {
          position: absolute;
          right: 130px;
          top: 35px;

          .file {
            display: none;
            }
          }
      }

      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
      }
    } 
  }